@import "tailwindcss";

@layer base {
  :root {
    --background: 248 250 252;
    --foreground: 15 23 42;
  }

  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

